27_WhatsApp_Definitivo_Agente_IA_JosemaFernandez.json
{
  "name": "Agente IA WhatsApp",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nombre del usuario al que te diriges: {{ $('Entrada WhatsApp').item.json.userName }}\n\nContenido del mensaje del usuario: {{ $json.content }}",
        "options": {
          "systemMessage": "=Eres un asistente virtual que actúa como un entrenador personal"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1184,
        -144
      ],
      "id": "7aa7a7c6-ace9-4505-9201-f2cece6c24e6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1184,
        16
      ],
      "id": "bad0f9ee-618e-408a-977b-827b8c061b46",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8n6l0eyUwgHnCdvg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47237028-fd11-4b5b-8efb-78f0bc0c1d7d",
              "name": "serverUrl",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "bbaa5ef8-340d-4dc1-b821-927528b140f9",
              "name": "instanceName",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "a8e1e481-04ae-4a88-8811-118bec7b433f",
              "name": "apiKey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "98add358-00ad-4e2b-ae0f-4c096cc34b4c",
              "name": "messageId",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "41a0eee7-9935-4185-9d31-87f89f72d023",
              "name": "chatId",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "ea1d1280-dfa9-4753-85ac-6ae542206b34",
              "name": "content",
              "value": "={{ $json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "fd82746c-aabf-459d-935d-0eaf95c27683",
              "name": "userName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "77b32d93-5809-416d-ae2d-ec55ea77fe4f",
              "name": "messageType",
              "value": "={{ $json.body.data.message.conversation ? 'text' : '' }}{{ $json.body.data.message.audioMessage ? 'audio' : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -96
      ],
      "id": "78165856-26fc-4720-b2cd-d321b5e8afa5",
      "name": "Entrada WhatsApp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Entrada WhatsApp').item.json.serverUrl }}/message/sendText/{{ $('Entrada WhatsApp').item.json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Entrada WhatsApp').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Entrada WhatsApp').item.json.chatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "delay",
              "value": "={{ 2000 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        -144
      ],
      "id": "efd581d5-35bb-4880-ac83-6f09281dcd56",
      "name": "Enviar WhatsApp"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f456504e-8cad-4bda-bd26-a195684b466b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fd37f713-d28c-4666-af93-2bc165bdc850",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        304,
        -112
      ],
      "id": "6a935ae2-8cee-4026-9c88-7a2f51207108",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.serverUrl }}/chat/getBase64FromMediaMessage/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $json.messageId }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        -224
      ],
      "id": "bde51476-0a48-44d2-ab79-898fd9862449",
      "name": "Descargar audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d71ee39-7e84-450f-8549-239b03413276",
              "name": "text",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -16
      ],
      "id": "436ff428-dcf6-4051-b083-74add9cb0c59",
      "name": "texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a386845c-a9a6-4cad-b816-5e8fd5a49779",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -144
      ],
      "id": "d3b2406b-5775-4cf4-b7a5-080e5ccb0f39",
      "name": "Entrada Agente"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Entrada WhatsApp').item.json.chatId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1312,
        16
      ],
      "id": "cd16d38f-a382-4c1c-90f7-1a5abebeaa1e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        656,
        -224
      ],
      "id": "22cb6c0c-f01d-4e29-ab26-0d673309aa8f",
      "name": "Convertir a Fichero"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        848,
        -224
      ],
      "id": "3aa32302-7a78-4675-9607-543f11e4c665",
      "name": "Transcribir Audio a Texto",
      "credentials": {
        "openAiApi": {
          "id": "EVczDnBoLisDhMvp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "37b171d0-5104-47d8-b622-b97c8649c1e2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        -96
      ],
      "id": "6eeaf046-0e8b-4201-8e8f-cc5ff751b693",
      "name": "WhatsApp",
      "webhookId": "37b171d0-5104-47d8-b622-b97c8649c1e2"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada WhatsApp": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Descargar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar audio": {
      "main": [
        [
          {
            "node": "Convertir a Fichero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto": {
      "main": [
        [
          {
            "node": "Entrada Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada Agente": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Convertir a Fichero": {
      "main": [
        [
          {
            "node": "Transcribir Audio a Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir Audio a Texto": {
      "main": [
        [
          {
            "node": "Entrada Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp": {
      "main": [
        [
          {
            "node": "Entrada WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d6879129-cf3c-4418-8460-5a2cd075d6c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ba739d7c2df7c855a42c62adee2a25c78441d8a95333bf9e7fb7db62ed3feb2c"
  },
  "id": "CJOBiOqI6X5dCpbF",
  "tags": []
}