29_Dashboard Leads_JosemaFernandez.json
{
  "name": "Dashboard Leads",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=# Identidad\nEres un asistente personal que te encargas de ayudar al usuario con acciones sobre tu base de datos de Leads.\n\n# Objetivo\nTu objetivo consiste en consultar Leads y añadir o actualizar leads a través de tus herramientas.\n\n# Herramientas\n* \"ObtenerLeads\": usa esta herramienta para recuperar información de Leads.\n* \"CrearActualizarLeads\": usa esta herramienta para añadir un nuevo lead o actualizar uno existente. Cuando te diga de actualizar, usa la herramienta \"ObtenerLeads\" para recuperar el registro que solicita actualizar, no le pidas todos los campos, actualiza solo el campo que te de la información.\n\n# Recordatorios:\n* Fecha y hora actual: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        -96
      ],
      "id": "f265e5eb-4ee1-4b42-9f92-0e924c1aa4d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        112
      ],
      "id": "04db87d7-e954-4ac5-956c-a75479b2d2c7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8n6l0eyUwgHnCdvg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.userId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        128
      ],
      "id": "ec5f70ba-acf7-4127-99b1-f62b5991bc9b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1j4W3pCij2wE6GVgVzF4ODm8GC8NYfjw2j3YVoD8uEyw",
          "mode": "list",
          "cachedResultName": "Proyecto Leads",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": ""
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        160,
        96
      ],
      "id": "1f8b7dcf-2098-48cb-9580-0d9f084def87",
      "name": "ObtenerLeads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEllZjUUUGerliRw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1j4W3pCij2wE6GVgVzF4ODm8GC8NYfjw2j3YVoD8uEyw",
          "mode": "list",
          "cachedResultName": "Proyecto Leads",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email__using_to_match_', ``, 'string') }}",
            "Nombre": "={{ $fromAI('Nombre', ``, 'string') }}",
            "Presupuesto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Presupuesto', ``, 'string') }}",
            "Estado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado', ``, 'string') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Presupuesto",
              "displayName": "Presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        320,
        96
      ],
      "id": "bb31d429-3405-43e0-bfc8-927f5436905a",
      "name": "CrearActualizarLead",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NEllZjUUUGerliRw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6f13ae36-d2a2-4665-80b6-4c79191824c0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -128
      ],
      "id": "f39e62d0-66a9-4ff2-bc06-9dce310da882",
      "name": "Webhook",
      "webhookId": "6f13ae36-d2a2-4665-80b6-4c79191824c0"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        -128
      ],
      "id": "e234feef-7f23-476c-981b-faaccbfc24e1",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerLeads": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CrearActualizarLead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7fb1ef92-c914-4e2b-8082-f61b351119f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd45752616b99f4db905fdbf77b15f941dcae0df3c6a48b8fdb10fb443542c37"
  },
  "id": "wIvw3Q1Jih5Uqpd2",
  "tags": []
}