2_Manipulacion de datos_JosemaFernandez.json
{
  "name": "#2 Manipulacion de datos",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -64
      ],
      "id": "d879f6ad-d08a-41c9-ad8b-f306512cc28a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lHUOBewM43SCWJWhuHsm2wz_aeVsYGQPLda6Dcf374o",
          "mode": "list",
          "cachedResultName": "Productos",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -432,
        -64
      ],
      "id": "32c3aa82-48fb-4864-a88b-093667ed3da2",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l3JAlYfhCSkoPGTN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cda0890a-673d-429e-bc47-a3397cbb7532",
              "name": "producto",
              "value": "={{ $('Get row(s) in sheet').item.json.Producto }}",
              "type": "string"
            },
            {
              "id": "d61fd727-0ffe-439d-af92-b54d7e1b43f7",
              "name": "precio",
              "value": "={{ $('Get row(s) in sheet').item.json[\"Precio €\"] }}",
              "type": "number"
            },
            {
              "id": "9ead58c6-0040-4408-8d80-abafaed2c9e0",
              "name": "stock",
              "value": "={{ $('Get row(s) in sheet').item.json.Stock }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -80
      ],
      "id": "19fb2e7d-c3b1-4189-8841-9d5f037f42f8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e8fa19f-454d-4962-8615-46f5a7a304f0",
              "leftValue": "={{ $json.precio }}",
              "rightValue": 800,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "ccd95bb6-bf61-48e9-b573-82ce10a8ee7f",
              "leftValue": "={{ $json.producto.toLowerCase() }}",
              "rightValue": "ordenador",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        480,
        -176
      ],
      "id": "47de8af9-b8a2-4f77-8ab0-50b5d7842bf3",
      "name": "Filter"
    },
    {
      "parameters": {
        "maxItems": 5,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        -16
      ],
      "id": "ef1e4e2c-9edb-41ca-abe0-f694260d4889",
      "name": "Limit"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "producto, precio",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        496,
        144
      ],
      "id": "6254c18d-3d51-4ea5-8e92-5840df10107a",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        464,
        320
      ],
      "id": "8757f1e2-50fd-4b83-94eb-ce4b19a535d2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        768,
        320
      ],
      "id": "860607f3-53a2-42b4-b161-9e10ee795aeb",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        -96
      ],
      "id": "1687cb69-5eac-4768-9ec8-24cb5ff6a136",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "average",
              "field": "precio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1312,
        -224
      ],
      "id": "9e310418-d365-46b5-a45b-f771231588fe",
      "name": "Summarize"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.nuevoCampo = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        320
      ],
      "id": "f2530931-859b-423f-896c-4a760175244d",
      "name": "Code"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        -64
      ],
      "id": "c2132254-70ea-452f-8378-f0d22e379ebd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8013d2e3-44ab-4295-b05e-9a3a41e9bae6",
              "name": "precio_x_2",
              "value": "={{ $json[\"Precio €\"] * 2 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        128
      ],
      "id": "8b921ab7-74de-48e5-81fd-af277acb85fc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        144,
        128
      ],
      "id": "d967ceb6-9e7a-4ade-a774-3cc833245d35",
      "name": "Wait",
      "webhookId": "190c5759-d9ec-42ff-a796-4d407c10cca7"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "44645338-962d-4fd4-8e9a-4b110e342aa0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f73766c8dff811f322680c8f9e08a80468d54b826c95e7acb37f9f1014260f9b"
  },
  "id": "VCCMSqCACodzXJ7E",
  "tags": []
}