Agendar_cita.json
{
  "name": "Agendar_cita",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5af937e3-e30e-4df0-b24e-ae6f289d6cf9",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -80
      ],
      "id": "387852ad-1410-4376-93e5-6a473428aba7",
      "name": "Webhook",
      "webhookId": "5af937e3-e30e-4df0-b24e-ae6f289d6cf9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cc3905e-076e-498a-8754-51dffe884129",
              "name": "username",
              "value": "AQUI_TU_USERNAME",
              "type": "string"
            },
            {
              "id": "1ae20059-91b8-48c8-a556-e18a3940da35",
              "name": "eventTypeSlug",
              "value": "AQUI_TU_ID_CALENDARIO",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -80
      ],
      "id": "e8c0e82e-8ac6-4ff3-a2e3-0917866143d6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cal.com/v2/bookings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cal-api-version",
              "value": "2024-08-13"
            },
            {
              "name": "Authorization",
              "value": "Bearer cal_live_945d3d88f5e9bb691a87ce489ee16dd6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"attendee\": {\n    \"language\": \"es\",\n    \"name\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.nombre }}\",\n    \"timeZone\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.zonaHoraria }}\",\n    \"email\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.correo }}\"\n  },\n  \"start\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].function.arguments.citaSolicitada }}\",\n  \"eventTypeSlug\": \"{{ $json.eventTypeSlug }}\",\n  \"username\": \"{{ $json.username }}\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -80
      ],
      "id": "4ffb1e7a-4f24-4cb0-a7b5-75de0630e4ab",
      "name": "Agendar Cita",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].id }}\",\n            \"result\": \"La cita ha sido agendada con éxito.\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        -208
      ],
      "id": "72040082-0050-42d8-b66a-6fc0b0da2615",
      "name": "Cita agendada"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].id }}\",\n            \"result\": \"La cita no ha podido ser agendada.\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        48
      ],
      "id": "be011fa7-b888-4b0f-af2f-b44a495bbd09",
      "name": "Cita no agendad"
    },
    {
      "parameters": {
        "content": "## Aquí tienes la herramienta que tienes que conectar para agendar cita. Un abrazo :)\n\n## - Víctor\n",
        "height": 192,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -384
      ],
      "typeVersion": 1,
      "id": "7005edb1-55db-439f-8237-1017267b8ab3",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Agendar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Cita": {
      "main": [
        [
          {
            "node": "Cita agendada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cita no agendad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7e3cb8a-101b-488e-b6cf-317448b6b6ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aac574544802a17aad902d42e8f7770e23d852adf6e8e0ac80531236fecac715"
  },
  "id": "a9gyZzPbFjpqVeHu",
  "tags": []
}