agente fotos.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ID"
            },
            {
              "name": "ConversationID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        320
      ],
      "id": "b8df6e42-5378-4314-806a-17a700ae3656",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.ID }}",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1RpZSPe0FmHuS8l2A5SvU-cLhmFCnZaAB",
            "mode": "list",
            "cachedResultName": "Foto Casas",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1RpZSPe0FmHuS8l2A5SvU-cLhmFCnZaAB"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -656,
        320
      ],
      "id": "a4c0999e-71f5-4407-8033-e441ae422dbb",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CQpTlRHcMnP8gP9l",
          "name": "PulsoDigitalia"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $json.id }}' in parents",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        320
      ],
      "id": "92adf0ee-adfc-4bd7-8233-9ad004258c8b",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CQpTlRHcMnP8gP9l",
          "name": "PulsoDigitalia"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        96,
        336
      ],
      "id": "78682804-d90d-48e5-a1d2-ca1042bf4954",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CQpTlRHcMnP8gP9l",
          "name": "PulsoDigitalia"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://TULINK/api/v1/accounts/1/conversations/{{ $node[\"When Executed by Another Workflow\"].json[\"ConversationID\"] }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "tuapi"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "content"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        336
      ],
      "id": "923851fd-40b8-410f-9512-0b7bf6de4b48",
      "name": "HTTP Request",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "003fb4ab-dff9-4e6f-8700-1f64cf0ca63c",
              "name": "Mensaje",
              "value": "se enviaron las fotos con éxito ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        48
      ],
      "id": "f227e0dc-9e3c-4203-bc21-17fcd66584bf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -192,
        320
      ],
      "id": "3e8eeb02-f055-4771-a5f1-8bcddab2cc54",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "f2fe5434f0269640fd08f48a70250ab2a2a4bc7b1cdcfb8888724c3d8f81c160"
  },
  "tags": []
}