APP_Nano_Banana_JosemaFernandez.json
{
  "name": "APP_Nano_Banana_JosemaFernandez",
  "nodes": [
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -320,
        -352
      ],
      "id": "e695ce4e-148b-40d8-8e42-d3463bc64155",
      "name": "Convertir Imagen a Base64"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1fJoml1ED_fdnVwCRsroRBrqCcwQa-P_O",
          "mode": "list",
          "cachedResultName": "chica_1.jpeg",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -48,
        -352
      ],
      "id": "c6a3b21c-58f7-4279-96f5-358e8b4a7e62",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rrSrRkUr5t0BSniH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        -352
      ],
      "id": "a6924072-2c0c-422f-b250-e0c4696bd231",
      "name": "Convertir Imagen Influencer a Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash-image-preview:free\",\n  \"modalities\": [\"image\", \"text\"],\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('Webhook').item.json.body.idea }}\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Convertir Imagen a Base64').item.json.data }}\"\n          }\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -352
      ],
      "id": "1061f87a-cd66-4d5f-b786-8dede3090896",
      "name": "Generar Imagen con Nano-Banana",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6IMAtKflYcYjGBWD",
          "name": "Google Gemini"
        },
        "httpBearerAuth": {
          "id": "UKgW7tfRnpHGFI6V",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ef4e70ac-1e74-436c-adcc-0fe5b92cf8a4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -352
      ],
      "id": "8ecaa513-ae85-4d4e-8617-a63a966c2d01",
      "name": "Webhook",
      "webhookId": "ef4e70ac-1e74-436c-adcc-0fe5b92cf8a4"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1280,
        -352
      ],
      "id": "06f5b6a8-9ca7-4650-9a33-3bc65c5c9933",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const dataUrl = item.json.choices[0].message.images[0].image_url.url;\n  // Cortamos en la primera coma y nos quedamos solo con la parte base64\n  const base64 = dataUrl.split(',')[1];\n\n  // Lo devolvemos dentro de un objeto para que sea válido\n  return {\n    json: {\n      base64\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -352
      ],
      "id": "8e837eab-8e7a-4176-8ea4-939cff542b05",
      "name": "Limpiar Base64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        -352
      ],
      "id": "5c1c7b2e-82ae-4d50-a4ae-e025de3fbcbc",
      "name": "Converte Base64 a Imagen"
    }
  ],
  "pinData": {},
  "connections": {
    "Convertir Imagen a Base64": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Convertir Imagen Influencer a Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir Imagen Influencer a Base64": {
      "main": [
        [
          {
            "node": "Generar Imagen con Nano-Banana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Imagen con Nano-Banana": {
      "main": [
        [
          {
            "node": "Limpiar Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Convertir Imagen a Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Base64": {
      "main": [
        [
          {
            "node": "Converte Base64 a Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte Base64 a Imagen": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "758f9f72-7294-4108-990d-1a4f175f3a93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd45752616b99f4db905fdbf77b15f941dcae0df3c6a48b8fdb10fb443542c37"
  },
  "id": "JYvEpOUs3DZQA7yX",
  "tags": []
}