SistemaOCR.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1x0c6m3Q_I_oI01TpSe1gU6eWvUCGd1TL",
          "mode": "list",
          "cachedResultName": "RAG Chatbot",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1x0c6m3Q_I_oI01TpSe1gU6eWvUCGd1TL"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        60,
        -20
      ],
      "id": "5bed4ea2-7b37-418f-9c88-1894612a0eab",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PDCzPyJo08AKtiEB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        280,
        -20
      ],
      "id": "84be8357-15bf-4fc8-893b-e84f245181f5",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PDCzPyJo08AKtiEB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        -20
      ],
      "id": "853b2e44-c405-4436-a3a3-4ceb006a3a18",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WzXXCCHTFAfhKyB4",
          "name": "OCR Mistral"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "expiry",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -20
      ],
      "id": "3b177053-d557-4bb3-8685-0adac407eb84",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WzXXCCHTFAfhKyB4",
          "name": "OCR Mistral"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        -20
      ],
      "id": "3c1c8949-d52b-429b-8e6c-6d49fd329060",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WzXXCCHTFAfhKyB4",
          "name": "OCR Mistral"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Solo necesito que obtengas las medidas de la pieza en cado que se indiquen nada más si la imagen no es una pieza con medidas no devolveras nada",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2260,
        160
      ],
      "id": "cd4647db-1b81-4a7e-821f-6ac2d5bc2942",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XkghtQoOQnsbAY1I",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fdb3ee95-e20e-4b4d-9f3e-0931466843bb",
              "leftValue": "={{ $json.pages[0].images.length }}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        -20
      ],
      "id": "ebbf4c06-9583-481f-8261-9fb1e298a74c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=imagen",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2060,
        80
      ],
      "id": "f3d984dc-d797-451c-af59-b026cccb967d",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1580,
        -40
      ],
      "id": "a1d1c9d3-4f47-4f38-8941-ac4708774921",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Entramos a la estructura de pages[0].images\nconst images = $json.pages[0].images;\n\n// Devolvemos solo un array con las imágenes en base64 \"limpias\" (quitando el prefix)\nreturn images.map(img => {\n  return {\n    imagen: img.image_base64.replace(/^data:image\\/\\w+;base64,/, '')\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        80
      ],
      "id": "603fa803-e9c3-4f92-b848-7306de8af616",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "befb54e9-59e1-4fa8-87d6-008e6a1a66bc",
              "name": "analisis_openai",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "42ae09ba-5824-4a0e-b806-975ed2faca7c",
              "name": "texto_mistral",
              "value": "={{ $('HTTP Request2').item.json.pages[0].markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        -180
      ],
      "id": "24a48263-07eb-43b2-99be-8c1b33641533",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Aquí tienes todo el texto plano del documento:\n``\n{{ $json.texto_mistral }}\n``\nY aquí el analisis de todas las imagenes del documento:\n``\n{{ $json.analisis_openai }}\n``",
        "messages": {
          "messageValues": [
            {
              "message": "Eres un experto en calcular el presupuesto de cada pieza, tu tarea es calcular cuanto vale cada pieza en base al perímetro que te hayan dado, te darán todas las medidas de la pieza y sabiendo que 1MM equivale a 0,01€ deberás sacar el presupuesto total de esa pieza"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2160,
        -280
      ],
      "id": "768a6c46-a28b-464a-b789-39d92b88a748",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2260,
        -120
      ],
      "id": "16670cc6-fdbf-4992-bb76-e33e89526c67",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XkghtQoOQnsbAY1I",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4eb428ba-562a-42e5-bae0-f375f0e7f10c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3dd0af70a31fe5617d636be48f186b0cb1837a8d7591f999710c930aa934cdeb"
  },
  "id": "YKe2v1wC5VxY48EF",
  "tags": []
}